@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    min-width: 1000px;
    font-family: 'NotoSans', 'sans-serif';
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.cf:after{
    content: "";
    display: block;
    clear:both;
}
.inner{
    width: 1260px;
    margin: 0 auto;
}


/*slick*/
.prevBtn, .nextBtn{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    z-index: 1;
}
.prevBtn{
    left: 30px;
}
.nextBtn{
    right: 30px;
}
.slick-dots{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}
.slick-dots li{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ddd;
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}
.slick-dots li.slick-active{
    background: #333;
}
.slick-dots button{
    border: 0;
    font-size: 0;
    padding: 0;
}
.slick-slide img{
    width: 100%;
    margin: 0 auto;
}


/*전체시작*/
#wrap{
    width: 100%;
}
/*headerTop*/
#header{}
.headerTop{
    height: 27px;
    line-height: 27px;
    font-size: 12px;
    text-align: center;
    margin:10px 0;
}
.headerTop .inner{
    position: relative;
}
.search{
    width: 160px;
    height: 27px;
    background: #ebebeb;
    border-radius: 13px;
    position: relative;
    line-height: 27px;
    color: #565656;
    margin-left: 800px;
}
.search img{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 10px;
}

.utill{
    position: absolute;
    right: 0;
    top: 0;
}
.utill li{
    float: left;
}
.utill li{
    background: url(../images/bar_utill.png) no-repeat;
    background-position: 0;
    display: inline-block;
}
.utill li:first-child{
    background: none;
}
.utill li a{
    display: block;
    color: #565656;
    padding: 0 10px;
}
.utill li a img, .utill li a span{
    vertical-align: middle;
}


/*headerBottom*/
.headerBottom{
    margin: 10px auto;
}
.headerBottom h1{
    width: 163px;
    height: 62px;
    background-size: 100%;
    text-indent: -9999px;
    float: left;
    background: url(../images/logo.png) no-repeat;
}
.headerBottom h1 a{
    display: block;
    color: #565656;
}

.gnb{
    width: 1097px;
    float: left;
    text-align: right;
    margin-right: 0;
    font-size: 0;
    margin-top: 20px;
}
.gnb li{
    display: inline-block;
}

.gnb li a{
    width: 100%;
    padding: 5px 40px;
    font-size: 17px;
    color: #565656;
    display: block;
    box-sizing: border-box;
}
.gnb li a:hover{
    width: 100%;
    height: 100%;
    background: url(../images/gnb_on02.png) no-repeat;
    background-size: 100% 100%;
    background-position: 0 2px;
    color: #fff;
}

/*컨테이너*/
#container{}
.mainSlider{}
.mainSlider div{}
.mainSlider div img{
    width: 100%;
}
/*mainRow1*/
.mainRow1{
    margin-top: 50px;
}
.rowBox1{}
.mainVideo{}
.mainVideo{}
.row1Box{
    width: 1000px;
    margin: 0 auto;
}

/*mainRow2*/
.mainRow2{}
.inner h2{
    text-align: center;
    padding: 70px 0;
    font-size: 28px;
    font-weight: 200;
}
.row2Box{
    position: relative;
    border: 3px solid #e9e9e9;
    box-sizing: border-box;
    float: left;
    margin-right: 10px;
}
.row2Box:last-child{
    margin-right: 0px;
}
.row2Box a{
    display: block;
    height: auto;
}
.row2Box1{
    width: 540px;
    height: 500px;
}
.box1_1{}
.box1_1 h3, .box2_1 h3, .box3_1 h3{
    font-size: 22px;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 10px 20px;
    color: #fff;
}
/*nextBtn*/
.nextBtn{
    position: absolute;
    top: 0;
    margin: 20px 0 0 0;
    right: 20px;
    z-index: 1;
}
.nextBtn li{
    width: 12px;
    height: 12px;
    background: url(../images/nextBtn_off.png) no-repeat;
    background-size: cover;
    text-indent: -9999px;
    margin-right: 5px;
    float: left;
}
.nextBtn li:last-child{
    margin-right: 0;
}
.nextBtn .on{
    width: 12px;
    height: 12px;
    background: url(../images/nextBtn_on.png) no-repeat;
    background-size: cover;
}
.nextBtn li a{
    display: block;
    height: 100%;
}

.box1_1 img{
    width: 100%;
    text-align: center;
}
.box1_2{
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    color: #1c1c1c;
    padding: 10px 20px;
    font-size: 22px;
}
.box1_2 p{
    font-size: 16px;
    margin-top: 10px;
}

.row2Box2{
    width: 300px;
    height: 500px;
}
.box2_2, .box3_2{
    padding: 10px 20px;
    text-align: center;
    font-size: 22px;
}
.box2_2 h3, .box3_2 h3{
    font-size: 22px;
}
.moreBtn{
    width: 140px;
    height: 40px;
    line-height: 40px;
    background: url(../images/morebox_bg.png) no-repeat;
    background-size: 100%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.row2Box3{
    width: 400px;
    height: 500px;
}

/*mainRow3*/
.mainRow3{
    width: 100%;
    background: #fff7f7;
    margin-top: 100px;
}
.row3Icon{
    padding: 70px 0;
}
.row3Icon li{
    float: left;
    margin-right: 70px;
}
.row3Icon li:last-child{
    margin-right: 0;
}
.row3Icon li a{
    display: block;
}
.row3Icon li a img{
    display: block;
}
.row3Icon li a .on{
    display: none;
}
.row3Icon li a:hover img{
    display: none;
}
.row3Icon li a:hover .on{
    display: block;
}
.row3Icon li a:hover p{
    font-weight: bold;
}
.row3Icon li a p{
    width: 262px;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
}

/*mainRow4*/
.mainRow4{}
.mainRow4 .inner{}
.row4Con{}
.row4Sbox{
    
}
.row4Sbox li{
    width: 315px;
    height: 315px;
    background: url(../images/sns_img01.jpg) no-repeat;
    background-size: 100%;
    float: left;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.row4Sbox li a, .row4Bbox li a{
    display: block;
    height: 100%;
    color: #fff;
    background: rgba(45,90,121,0);
    transition: background 0.5s;
}
.row4Sbox li a:hover, .row4Bbox li a:hover{
    background: rgba(47,44,78,0.8);
    color: #fff;
}
.row4Sbox li a:hover p, .row4Bbox li a:hover p{
    display: block;
}
.row4Sbox .sBox2{
    background: url(../images/sns_img02.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox3{
    background: url(../images/sns_img03.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox4{
    background: url(../images/sns_img04.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox5{
    background: url(../images/sns_img05.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox6{
    background: url(../images/sns_img06.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox7{
    background: url(../images/sns_img07.jpg) no-repeat;
    background-size: 100%;
}
.row4Sbox .sBox8{
    background: url(../images/sns_img08.jpg) no-repeat;
    background-size: 100%;
}
.row4SboxBar{}
.row4SboxBar p{
    display: none;
    font-size: 22px;
    font-weight: normal;
    padding: 0 20px;
    padding-top: 180px;
}
.row4SboxBar p:before{
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background: #fff;
    margin: 0 auto;
}

/*Bbox*/
.row4Bbox{}
.row4Bbox li{
    width: 630px;
    height: 315px;
    background: url(../images/sns_img09.jpg) no-repeat;
    background-size: 100%;
    float: left;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.row4Bbox .bBox2{
    background: url(../images/sns_img10.jpg) no-repeat;
    background-size: 100%;
}

/*mainRow5*/
.mainRow5{
    margin-top: 220px;
}
.mainRow5 .inner{
    position: relative;
}
.row5Lbnr{
    padding-top: 150px;
}
.bnrT, .bnrB{
    text-align: right;
    font-size: 0;
    padding-right: 330px;
    margin-top: 30px;
}
.bnrT li, .bnrB li{
    display:inline-block;
    padding: 0 25px;
}
.bnrT li a, .bnrB li a{
    display: block;
}
.row5Rimg{
    position: absolute;
    top: 0;
    right: 0;
}

/*footer*/
#footer{
    margin-top: 200px;
}
.footerBg{
    width: 100%;
    height: 330px;
    background: url(../images/footer_bg_all.jpg) no-repeat;
    background-size: 100%;
    margin: 0 auto;
}
.footerBg .inner{
    position: relative;
}

/*푸터메뉴*/
.footerMenu{
    /*text-align: center;*/
    padding-top: 50px;
}
.footerMenu ul{}
.footerMenu ul li{
    background: url(../images/footer_bar.png) no-repeat;
    background-position: 0;
    display: inline-block;
    padding: 22px;
}
.footerMenu ul li:first-child{
    padding-left: 0;
    background: none;
}
.footerMenu ul li a{
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    display: block;
}
/*푸터내용*/
.footerText{
    padding-top: 20px;
}
.footerText ul{}
.footerText ul li{
    margin-bottom: 20px;
}
.footerText ul li p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 5px;
}
/*푸터배너*/
.footerBnr{
    text-align: right;
    position: absolute;
    top: 0;
    margin-top: 50px;
    right: 0;
}
.footerBnr li{
    margin-bottom: 20px;
}
.footerBnr li a{
    display: block;
}
.footerBnr li a img{
}
